a {
  color: #e84610;
  font-size: 16px;
  text-decoration: none;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

a:hover{
  color: #000;
}

.smallbox{
  height: 150px;
  border-style: solid;
  padding: 5px;
  margin: 25px;
  
}

.bigbox{
  height: 350px;
  /*width: 200px;  */
  border-style: solid;
  padding: 5px;
  margin: 25px;
}

.biggerbox{
  height: 550px;
  border-style: solid;
  padding: 5px;
  margin: 25px;
}

.ball {
  display: inline-block;
  background-color: #0799d3;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  animation-name: jump;
  animation-duration: 0.5s; 
  animation-timing-function: cubic-bezier;  /*creates a better looking bounce*/
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes jump {
  from {top:110px;}
  to {top: 10px;}
}

img {
	margin: 50px;
}

.imgscale:hover{
  transform: scale(2);
  transform-origin: top left;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  animation-direction: alternate;
}

.imgrotate {
  position: relative;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.element {
	background-color: #0997d3;
	width: 200px;
	height: 200px;
}

.element:hover {
	transform: translate(100%);
  transform-origin: top left;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  animation-direction: alternate;
}